code {
    background-color: grey;
    color: whitesmoke;
    font-style: italic;
    font-size: 80%;
    padding: 0 5px 0 2px;
}

p {
    font-style: italic;
    font-size: large;
}

.reveal h4 {
    text-transform: unset;
}